.bicicleta{
    height: 600px;
    background-color: lightblue;
    background-image: url("./img/bicicleta.jpg");
    background-repeat: no-repeat;   
    background-size: cover;
    background-position: center top;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    margin:0 auto;
    background: white;
    padding: 1rem 2rem;
}


.pattern{
    height: 300px;
    background-color: lightcoral;
    background-image: url("./img/pattern.svg");
    background-repeat: repeat;
    

}


.linear{
    height: 200px;
    background-image: linear-gradient(lightblue, lightcoral);
}

.radial{
    height: 200px;
    background-image: radial-gradient(blue, red);
}