.grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.foto{
    grid-column:1 / 3;
}

.descricao{
    grid-column: 1 / 3;
}


.comprar{
    grid-column: 1 / 3;
}




/* Estilos Gerais*/
body{
    font-family: Arial;
    margin: 40px;
}

img{
    max-width: 100%;
    border-radius: 4px;
}

.comprar{
    background: #a8f;
    padding: 10px 20px;
    color: red;
    text-decoration: none;
    border-radius: 4px;
    font-size: 20px;
}

h1,
p{
    margin: 0px;
}

h1{
    font-size: 48px;
    line-height: 1;
}
p, span{
    font-size: 20px;
}

.preco{
    background: #ddd;
    padding: 5px 10px;
    border-radius: 4px;
}
/*
h1{
    text-align: center;
}
h2{
    margin-top: 0px;
}


.item{
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    padding: 20px;
    border-radius: 4px;
    display: grid;
}*/


/* FR Distribui o espaço que sobra entre os elementos*/
/* Place-content é um atalho para justify-content e align-content */
/*.grid{
    display: grid;
    height: 800px;
    grid-template-columns: auto auto;
    gap: 20px;
    place-content:center  space-evenly;
}*/