.px{
    font-size: 32px;
}

.em{
    font-size: 2em;
}

.rem{
    font-size: 2rem;
}

body{
    margin: 0px;
}

.div{
    height: 40px;
    background: lightblue;
    width: calc(100vw/3);
    height: 100vh;
}

